{% extends 'layout.html' %}

{% block content %}
{{ super() }}
<section class="graph" id="graf_1">
    <div class="container">
        <div class="graph__inner"><h3 class="graph__title">{{ title }}</h3>
            <div class="graph__wrapper">
                <form id="form" >
                <div class="graph__header"><label class="graph__label-checkbox"> <input type="checkbox"
                                                                                        name="temp"
                                                                                        class="graph__checkbox" {% if temp!='' %}checked="checked"{% endif %}/> <span
                        class="graph__checkbox-text">Показывать температуру</span> </label> <label
                        class="graph__period"> <span class="graph__period-start">Период:</span> <span
                        class="graph__period-from">с</span> <input type="date" name="start" class="graph__date-from"
                                                                   value="{{start}}"/> <span class="graph__period-to">по</span>
                    <input type="date" name="stop" class="graph__date-to" value="{{stop}}" /> </label> <span
                        class="graph__refresh">                <picture>
                    <source srcset="images/refresh.svg"
                                                                                type="image/webp"><img class=""
                                                                                                       src="images/refresh.svg"
                                                                                                       alt="refresh" id="refr"/></picture>              </span>
                </div>
                <div class="graph__img">
                    <picture><source srcset="/plot.png?start={{start}}&stop={{stop}}&temp={{ temp }}&apart={{ apart }}&invest={{ invest }}&mode={{ mode }}&weather={{ weather }}" type="image/png">
                        <img class="" style="max-width: 1100px;" src="/plot.png?start={{start}}&stop={{stop}}&temp={{ temp }}&apart={{ apart }}&weather={{ weather }}&mode={{ mode }}&invest={{ invest }}" alt="garph_1" id="imagemain"/></picture>
                </div>
                <div class="graph__footer"><label class="graph__label-checkbox"> <input type="checkbox" name="apart"
                                                                                        class="graph__checkbox"{% if apart!='' %}checked="checked"{% endif %}/> <span
                        class="graph__checkbox-text">Площадь введенных новостроек населением</span> </label> <label
                        class="graph__label-checkbox"> <input type="checkbox" name="invest"
                                                              class="graph__checkbox" {% if invest!='' %}checked="checked"{% endif %}/> <span
                        class="graph__checkbox-text">Инвестиции в туризм</span> </label> <label
                        class="graph__label-checkbox"> <input type="checkbox" name="weather" class="graph__checkbox" {% if weather!='' %}checked="checked"{% endif %}/>
                    <span class="graph__checkbox-text">Убрать погодное влияние</span> </label></div>
                <div class="graph__download"><a href="#" download="#">Скачать pdf</a></div>
            </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}


{% block script %}
{{ super() }}
<script type="application/javascript">
$(document).ready(function($){
    console.log('ok ready');

    $('#refr').click(function () {
        console.log('click')
        d = new Date();
        data = $('#form').serialize()
        data = '/plot.png?'  + data +'&' + d.getTime()
        $('#imagemain').attr('src','').promise().done(function() {
            $(this).attr('src', data)
            console.log(data)
        })

        $('#form').submit();


    })

    $('input[name=apart]').click(function () {
        $('#form').submit();
    })

    $('input[name=invest]').click(function () {
        $('#form').submit();
    })

    $('input[name=temp]').click(function () {
        $('#form').submit();
    })

    $('input[name=weather]').click(function () {
        $('#form').submit();
    })

    $('#start').on('input', function (obj) {
        console.log('change')
        console.log($(this).val)
    });


});

</script>
{% endblock %}
</body>
</html>